.login-container {
  background: rgba(41, 41, 56, 0.5);
  input {
    min-height: 40px !important;
    width: 80%;
    background: rgba(41, 41, 56, 1);
    border-radius: 5px;
    color: white;
    border: none;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 80%;
  }
  span {
    transition: 0.7s all;
  }
}
.login-page {
  height: 100vh;
}
