.panel-actions {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    li {
      padding: 20px 20px;
      color: #d1d1d1;
      font-size: 1.2em;
      transition: all 0.3s;
      &.active {
        color: #424242;
        border-right: 2px solid #96c1db;
      }
      span {
        margin-right: 10px;
      }
      i {
        margin-left: 10px;
      }
      &:hover:not(.active) {
        color: rgb(158, 158, 158)d1;
      }
    }
  }
}

.panel-editor {
  min-height: 50px;
  background: #f9fafe;
  border-radius: 5px;
  padding: 10px;
  color: #424242;
  border: 1px solid #d1d1d1;
  &:focus {
    outline: none;
  }
}

textarea.panel-editor{
  min-height: 150px;
}