.category-title {
  position: absolute;
  right: 0;
  top: 8rem;
  font-size: 2em;
  font-family: "Lalezar";
  font-weight: 100;
}
.category-description {
  text-shadow: 1px 1px 10px rgba(black, 0.2);
  position: absolute;
  right: 0px;
  
  top: 11rem;
  font-family: "Samim";
  max-width: 40%;
}
.category-image {
  opacity: 0.5;
}
.category-cintainer {
  a {
    text-decoration: none;
    color: $mainColor;
  }
}
.wave {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -100px;
}
.category-logo {
  background: $secondColor;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.category-info {
  border-top: 1px solid $secondColor;
  max-width: 200px;
}

.category-item {
  min-width: 300px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba(black, 0.5);
  }
  &:hover > h5 {
    transform: scale(1.1);
  }
  h5 {
    max-width: 50%;
    font-size: 1.3em;
    text-shadow: 0 0 10px rgba(black, 0.3);
    transition: all 0.3s;
  }
}

.category-number {
  font-family: "Chamran";
}
.category-image-container {
  background: black;
}

@include media-breakpoint-down(md) {
  .category-image {
    min-height: 30vh;
  }
  .wave{
    margin: 0;
    transform: translateY(-50%);
    clear: both;
  }
  .category-title {
    top: 3rem;
    font-size: 1.5em;
  }
  .category-description {
    top: 5rem;
    font-size: 0.7em;
    max-width: 100%;
  }
}

.category-div{
  background: white;
}
