nav {
  min-height: 80px;
  z-index: 1;
}
.dropdown:hover > .dropdown-menu {
  opacity: 1;
  margin-top: -5px;
  pointer-events: all;
}

.dropdown-menu {
  background: white;
  text-align: right;
  border-radius: 5px;
  box-shadow: 0 0 10px $shadowColor;
  direction: rtl;
  margin-top: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  display: block;
  &.show {
    margin-top: 0;
    opacity: 1;
    pointer-events: all;
  }
  button {
    position: relative;
    color: $mainColor;
    &:hover > div a {
      margin-right: 2px;
    }

    &:hover > div ul {
      opacity: 1;
      pointer-events: all;
    }
    div {
      a {
        transition: all 0.5s;
      }

      ul {
        pointer-events: none;
        opacity: 0;
        top: 0;
        position: absolute;
        right: 100%;
        margin-right: 2px;
        background: white;
        box-shadow: 0 0 10px $shadowColor;
        transition: 0.2s all;
        border-radius: 5px;
        list-style: none;
        padding: 0 5px 0 0;
        li {
          padding: 5px;
        }
      }
    }
  }
  text-decoration: none;
}

.navbar-brand {
  span {
    color: $mainColor !important;
  }
}

.nav-item {
  a {
    color: $mainColor !important;
    transition: 0.3s all;
    &:hover {
      color: $secondColor !important;
    }
  }
}

.dropdown-toggle::after {
  margin-right: 10px;
}

@include media-breakpoint-down(md) {
  .dropdown-menu {
    opacity: 1;
    pointer-events: all;
    display: none;
    margin-top: 0;
    &.show {
      margin-top: 0;
    }
  }
}
